<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Car Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div text-center *ngIf="selectedItem" >
      
   <button ion-button full>{{selectedItem.Marque}}&nbsp;{{selectedItem.Modele}}&nbsp;{{selectedItem.Serie}}</button>
  </div>
  {{strStep}}
  <div *ngIf="doesDisplayKmh">
    KM.H
  </div>
  <div *ngIf="!doesDisplayKmh">
      MPH
    </div>
    
  <h3>
    
        <ion-badge color="primary">V{{selectedItem.Cylindres}}</ion-badge>
          <ion-badge color="primary">{{selectedItem.Cylindree}} litres</ion-badge>
            <ion-badge color="primary">{{selectedItem.Puissance_ch}} ch</ion-badge>
              <ion-badge *ngIf="doesDisplayNm" color="primary">{{selectedItem.Couple_Nm}} N.m<sup>-1</sup></ion-badge>
              <ion-badge *ngIf="!doesDisplayNm" color="primary">{{Couple_FtLb}} ft-lb</ion-badge>
        <!-- a href="{{zeperf_link}}" hrefext class="btn btn-success col-lg-offset-8">get Infos <span class="glyphicon glyphicon-info-sign"></span></a -->
    
    </h3>

  <h3>
    <ion-col col-lg-4>
      <ion-badge color="dark">Vitesse max&nbsp;</ion-badge>
      
        <ion-badge *ngIf="doesDisplayKmh" color="danger">{{selectedItem.VitesseMax_Kmh}} km/h</ion-badge>
    

    
      <ion-badge *ngIf="!doesDisplayKmh" color="danger">{{vitesseMax_Mph}} Mph</ion-badge>
  
    </ion-col>
<br>
<ion-col col-lg-3 col-lg-offset-1>
      <ion-badge color="dark">0-100 km/h&nbsp;</ion-badge>
        <ion-badge color="danger"> {{selectedItem.acc_0_100}} sec</ion-badge>
      </ion-col>
<br>
<ion-col col-lg-3 col-lg-offset-1>
      <ion-badge color="dark">400m Da&nbsp;</ion-badge>
      <ion-badge color="danger"> {{selectedItem.acc_400m_DA}} sec.</ion-badge>
    </ion-col>
</h3>

<br>


<h3>
  <ion-col col-lg-4>
      <ion-badge color="dark">0-200 km/h&nbsp;</ion-badge>
        <ion-badge color="danger"> {{selectedItem.acc_0_200}} sec.</ion-badge>
      </ion-col>
<br>
    <ion-col col-lg-3 col-lg-offset-1>
      <ion-badge color="dark">1000m Da&nbsp;</ion-badge>
        <ion-badge color="danger"> {{selectedItem.acc_1000m_DA}} sec.</ion-badge>
      </ion-col>
<br>
    <ion-col col-lg-3 col-lg-offset-1>
      <ion-badge color="dark">Prix&nbsp;</ion-badge>
        <ion-badge color="danger"> {{selectedItem.Prix}} euros </ion-badge>
      </ion-col>
</h3>

<br>
<span>
    <img [attr.src]="selectedItem.Image">&nbsp;&nbsp;
</span>
  
</ion-content>
